@use '../scss/' as *;
@use './variables' as *;
@use 'sass:map';

/* Global Rules */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  color-scheme: dark light;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  scrollbar-width: thin;
}
body {
  font-family: 'cairo', sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@include mobile {
  * {
    -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
  }
}
/* End Global Rules */

/* screen sizes */
/* Small */
@media (min-width: 768px) {
  //! needs improvements
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End screen sizes */

/* Custom scrollbar styles */
@include mobile {
  ::-webkit-scrollbar {
    display: none; // cleaner for mobile
  }
}

@include tablet-to-up {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border: 3px solid var(--scrollbar-track);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
  }
}
/* End custom scrollbar styles */

/* custom selection */
::selection {
  color: $primary1;
  background-color: $accent1;
  font-weight: bold;
}
/* End custom selection */
