@use "./index" as *;
@use "sass:map";

/* Global Rules */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  color-scheme: dark light;

  /* Standard properties (Supported by all major browsers in 2026) */
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

body {
  font-family: "cairo", sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@include mobile {
  * {
    tap-highlight-color: transparent;
  }

  html {
    /* Hide scrollbar on mobile */
    scrollbar-width: none;
  }
}
/* End Global Rules */

/* screen sizes */
/* Small */
@media (min-width: 768px) {
  //! needs improvements
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End screen sizes */

/* Custom scrollbar styles */
@include tablet-to-up {
  /* Standard scrollbar properties are used in html block above. */
  ::scrollbar-thumb {
    cursor: pointer;
  }
}

/* Autoscroll styles */
.is-autoscrolling {
  cursor: all-scroll !important;
  user-select: none;
}

.middle-click-scroll-indicator {
  cursor: all-scroll !important;
}

/* custom selection */
::selection {
  color: $primary1;
  background-color: $accent1;
  font-weight: bold;
}
/* End custom selection */