node_modules
Dockerfile
bun.Dockerfile
.dockerignore
.gitignore
a.yml
a.*
b.*
bun.lockb
bun.lock
/.vscode

docker-compose*


# Ignore everything by default
*

# Allow specific files and folders
!.data
!.env
!.env.development
!.env.production
!.nuxt
!.output
!package.json
!tsconfig.json
!server/config/bun.Dockerfile