# shared vars => .env, dev => .env.development, prod => .env.production
# TODO: use the domain base here
PORT=3000 # default
# NITRO_PORT=5500 # same as PORT
DOMAIN_NAME=https://example.com
# NITRO_PRESET=node_cluster # todo: to cluster the app with multi-processing check Docs https://nuxt.com/docs/getting-started/deployment#cluster-mode

# MONGO_USER=Bader
# MONGO_PASSWORD=secretPassword
# MONGO_IP=mongo
# MONGO_DB_NAME=personal-portfolio
# MONGO_PORT=27017
# MONGO_URI=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_IP}:${MONGO_PORT}/${MONGO_DB_NAME}?authSource=admin

MONGO_URI=mongodb://Bader:myPassword@200.200.1.200:27017/portfolio?authSource=admin
MAIL_USER=contact@example.com
MAIL_PASS=somePassword
JWT_SECRET=somePassword
JWT_LIFETIME=24h
# NODE_ENV=production/development

GOOGLE_ANALYTICS_MEASUREMENT_ID=your-google-measureId
GOOGLE_TAG_MANAGER_ID=asItsName

GOOGLE_CLIENT_ID=check=>https://console.cloud.google.com/
GOOGLE_CLIENT_SECRET=withItsId
FACEBOOK_CLIENT_ID=check=>https://developers.facebook.com/
FACEBOOK_CLIENT_SECRET=withItsId
