
PORT=3000
NODE_ENV=production
DOMAIN_NAME=https://example.com
SOCKET_URL=wss://example.com

# GOOGLE_ANALYTICS_MEASUREMENT_ID=your-id
# GOOGLE_TAG_MANAGER_ID=GTM-your-id

# TODO: get yours from https://console.developers.google.com/
# GOOGLE_CLIENT_ID=your-client-id
# GOOGLE_CLIENT_SECRET=your-client-secret
# TODO: get yours from https://developers.facebook.com/
# FACEBOOK_CLIENT_ID=your-client-id
# FACEBOOK_CLIENT_SECRET=your-client-secret


CONTACT_EMAIL=contact@example.com
VAPID_PUBLIC_KEY=generate-one-using-its-cmd-mentioned-in-package.json>scripts

# use in prod due to misuse of process.env with nuxt runtime vars in built images
NUXT_PUBLIC_SITE_URL=example.com
NUXT_PUBLIC_ORIGIN_URL="https://example.com"
# NUXT_PUBLIC_ORIGIN_URL="http://localhost:5000"
NUXT_PUBLIC_SOCKET_URL="wss://example.com"
# NUXT_PUBLIC_SOCKET_URL="ws://localhost:5000"
NUXT_PUBLIC_VAPID_PUBLIC_KEY="generate-one-using-its-cmd-mentioned-in-package.json>scripts"
NUXT_PUBLIC_IS_CAPACITOR="true"

NUXT_PUBLIC_SCRIPTS_GOOGLE_TAG_MANAGER_ID=your-id
NUXT_PUBLIC_SCRIPTS_GOOGLE_ANALYTICS_ID=your-id

NUXT_NODE_ENV="production"
# NUXT_ORIGIN_URL="http://localhost:5000"
NUXT_ORIGIN_URL="https://example.com"
NUXT_CONTACT_EMAIL="contact@example.com"

# from the server/config/ pwd, TODO: could require reading from here instead!
FCM_SERVICE_ACCOUNT=./service-accounts-private-key-portfolio-firebase-adminsdk.json