NODE_ENV=production
DOMAIN_NAME=https://example.com
GOOGLE_ANALYTICS_MEASUREMENT_ID=yourOwnId
GOOGLE_TAG_MANAGER_ID=yourOwnId

# TODO: get yours from https://console.developers.google.com/
# to get the android stuido SHA-1 certificate fingerprint run:

# after creating the signed app bundle from your android studio app:
keytool -keystore /home/yourUsername/.android-apps.jks -list -v
# enter the keystore password:

# then you'll see SHA1: your-pass-id
GOOGLE_ANDROID_CLIENT_ID=Your_google_android_ID
# bundle id === appId
GOOGLE_IOS_CLIENT_ID=Your_google_ios_ID
