NODE_ENV=production
DOMAIN_NAME=https://example.com
GOOGLE_ANALYTICS_MEASUREMENT_ID=yourOwnId
GOOGLE_TAG_MANAGER_ID=yourOwnId
# useful with app launcher
BUNDLE_OR_APP_ID=com.example.www

# TODO: get yours from https://console.developers.google.com/
# to get the android stuido SHA-1 certificate fingerprint, do:
# after creating the signed app bundle from your android studio app
# save the keystore and its password for instance in /home/<your_username>/<name_of_the_file>
# then with same password to be used, run this command:
keytool -keystore /home/yourUsername/.android-apps.jks -list -v
# enter the keystore password you saved above:

# then you'll see SHA1: your-cert-fingerprint-id
GOOGLE_ANDROID_CLIENT_ID=Your_google_android_ID
# bundle id === appId
GOOGLE_IOS_CLIENT_ID=Your_google_ios_ID

NUXT_PUBLIC_ORIGIN_URL="https://example.com"
NUXT_GOOGLE_CLIENT_ID=Your_nuxt_google_client_ID
NUXT_FACEBOOK_CLIENT_ID=Your_nuxt_facebook_client_ID
