# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

ios/
android/
dist-electron/
release/
tests/results/
.antigravitycli/

# Node dependencies
node_modules
package-lock.json
pnpm-lock.yaml

# Logs
logs
*.log
.eslintcache
tsconfig.tsbuildinfo

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!.env.capacitor.example
!.env.electron.example

a.prod*
b.prod*
a.comp.prod.yaml
b.comp.prod.yaml
!a.prod-certbot.yml

compose.prod.test.yaml

/lib/generated/prisma
server/lib/generated/prisma

**/service-accounts*.json
/server/prisma/generated/prisma

electronAssets/builder/envs/request.csr
electronAssets/builder/envs/certificate.crt
electronAssets/builder/envs/private.key
electronAssets/builder/envs/Cert.pfx
.electrobun/
artifacts/
# even after we put the app in /release/electrobun, the build/ isn't removed
build/

# Skilld references (recreated by `skilld install`)
.skilld
