services:
  nginx:
    build:
      context: .
      dockerfile: ./server/config/nginx/test.Dockerfile
      args:
        - BUILDER_IMAGE=baderidris/nuxt-portfolio:3.5.0-testing-prod
    # image: nginx:stable-alpine
    container_name: nginx
    ports:
      - "5000:80"
    volumes:
      # - ./.output/public:/var/www/html
      # - app-data:/var/www/html
      - ./server/config/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    restart: always
    depends_on:
      - app
    networks:
      - app-network
  app:
    build:
      context: .
      # dockerfile: ./server/config/bun.Dockerfile
      dockerfile: ./server/config/Dockerfile
      # dockerfile: ./server/config/deno.Dockerfile
      args:
        - NODE_ENV=production
        - PORT=3000
    image: baderidris/nuxt-portfolio:3.5.0-testing-prod
    # image: baderidris/nuxt-portfolio:3.5.0-production-slim
    # image: baderidris/nuxt-portfolio:3.5.0-testing-bun-prod
    # image: baderidris/nuxt-portfolio:3.5.0-testing-deno-prod
    restart: always
    # mem_limit: 2000m
    # memswap_limit: 2000m
    deploy:
      replicas: 2
      restart_policy:
        condition: any
      update_config:
        parallelism: 1
        delay: 15s
      labels:
        - "com.docker.swarm.service.name={{.Service.Name}}-{{.Task.Slot}}"
    volumes:
      - ./node_modules:/app/node_modules:ro
      # - app-data:/app/.output/public
    env_file:
      - ./.env.production
    depends_on:
      - mongo
    networks:
      - app-network
  mongo:
    # image: mongo:4.4 # TODO: old cpus!
    image: mongo:8.2
    container_name: mongo
    restart: always

    # TODO: modify it as needed
    mem_limit: 300m
    memswap_limit: 300m

    environment:
      - MONGO_INITDB_ROOT_USERNAME=Bader
      - MONGO_INITDB_ROOT_PASSWORD=myPassword
    volumes:
      - mongo-db:/data/db:rw
      - ./server/config/mongo/mongod.conf:/etc/mongod.conf:ro
    command: mongod --config /etc/mongod.conf
    networks:
      - app-network
  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    volumes:
      - redis-data:/data:rw
      - ./server/config/redis/redis.conf:/usr/local/etc/redis/redis.conf:ro
    environment:
      - REDIS_USER=default
      - REDIS_PASSWORD=redis_password
    networks:
      - app-network
    privileged: true
    command: >
      sh -c "sysctl vm.overcommit_memory=1 &&
      redis-server /usr/local/etc/redis/redis.conf --requirepass redis_password &&
      AUTH default redis_password &&
      save 60 1"
  # TODO: with binding the data volume we can do backup services as:
  # redis-backup:
  #   image: backup-service
  #   volumes:
  #     - redis-data:/backup/redis:ro
  postgres:
    # Latest stable version
    image: postgres:18-alpine
    container_name: psql
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: articles
    volumes:
      - psql-data-v18:/var/lib/postgresql:rw
      - ./server/config/psql/postgresql.conf:/etc/postgresql/postgresql.conf:ro
    networks:
      - app-network

  backup:
    # image: nfrastack/container-db-backup:latest
    image: tiredofit/db-backup:4.1.100
    container_name: db-backup
    restart: always
    environment:
      - TZ=UTC
      - DEFAULT_BACKUP_INTERVAL=1440
      - DEFAULT_CLEANUP_TIME=10080
      - DEFAULT_BACKUP_LOCATION=FILESYSTEM
      - DEFAULT_FILESYSTEM_PATH=/backup
      # --- ROBUSTEN FEATURES ---
      - DEFAULT_COMPRESSION=ZSTD # Space efficient, mimics differential efficiency
      - DEFAULT_COMPRESSION_LEVEL=3
      - ENABLE_NOTIFICATIONS=TRUE
      - NOTIFICATION_TYPE=CUSTOM
      # Uncomment and add your Healthcheck URL (Uptime-Kuma, Healthchecks.io)
      # - NOTIFICATION_CUSTOM_PING_URL=https://hc-ping.com/YOUR-UUID
      # --------------------------
      - DB01_TYPE=pgsql
      - DB01_HOST=psql
      - DB01_USER=postgres
      - DB01_PASS=example
      - DB01_NAME=articles
      - DB02_TYPE=mongo
      - DB02_HOST=mongo
      - DB02_USER=Bader
      - DB02_PASS=myPassword
      - DB02_NAME=portfolio
      - DB02_AUTH=admin
    volumes:
      - backup-data:/backup:rw
    depends_on:
      - postgres
      - mongo
    networks:
      - app-network

# uncomment to add your mail server (e.g:using vscode uncomment ctrl+/ )
#   mail:
#     image: mailserver/docker-mailserver:14.0 # same as image: ghcr.io/docker-mailserver/docker-mailserver:latest
#     # review migration guide to 15.1.0
#     container_name: mail
#     # Provide the FQDN of your mail server here (Your DNS MX record should point to this value)
#     hostname: mail.baderidris.com
#     env_file: ./server/config/mailserver/mailserver.env
#     # More information about the mail-server ports:
#     # https://docker-mailserver.github.io/docker-mailserver/latest/config/security/understanding-the-ports/
#     ports:
#       - "25:25"    # SMTP  (explicit TLS => STARTTLS, Authentication is DISABLED => use port 465/587 instead)
#       - "143:143"  # IMAP4 (explicit TLS => STARTTLS)
#       - "465:465"  # ESMTP (implicit TLS)
#       - "587:587"  # ESMTP (explicit TLS => STARTTLS)
#       - "993:993"  # IMAP4 (implicit TLS)
#     volumes:
#       - ./server/mailserver/mail-data:/var/mail/
#       - ./server/mailserver/mail-state:/var/mail-state/
#       # - ./server/mailserver/mail-logs:/var/log/mail/ # TODO: fix its disk vulnerability
#       - ./server/mailserver/config/:/tmp/docker-mailserver/
#       - /etc/localtime:/etc/localtime:ro

#       - certbot-etc:/etc/letsencrypt:ro
#       - certbot-var:/var/lib/letsencrypt:ro
#     deploy:
#       resources:
#         limits:
#           cpus: '0.2'  # 20% of 1 core
#           memory: 200m  # Max memory
#         reservations:
#           memory: 150m  # Minimum memory guaranteed
#     memswap_limit: 350m
#     restart: always
#     stop_grace_period: 1m
#     # Uncomment if using `ENABLE_FAIL2BAN=1`: # TODO: use the host one instead!
#     cap_add:
#       - NET_ADMIN
#     healthcheck:
#       test: "ss --listening --tcp | grep -P 'LISTEN.+:smtp' || exit 1"
#       timeout: 3s
#       retries: 0
#     networks:
#       - app-network
# # postfix configuration files are:  /etc/postfix/main.cf and /usr/share/postfix/main.cf.dist The 2nd is the global one
# # dovecot conf file: /etc/dovecot/dovecot.conf
# # also check /etc/dovecot/userdb /etc/dovecot/masterdb


volumes:
  # app-data:
  mongo-db:
  psql-data-v18:
  redis-data:
  backup-data:
networks:
  app-network:
    driver: bridge
